main{
    padding:2%;
}
#div-lavagens{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    text-align:center;

}
#div-main-text{
    padding:0 2%;
}
.fotos-servicos{
    width: 300px;
    height:300px;
}