@import url('https://fonts.googleapis.com/css2? family= Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,600;1,700;1,900 & display=trocar');

/*GERAL ================= */

body{
    margin:0;
    padding:0;
    box-sizing:border-box; 
    font-family: 'Source Serif Pro', sans-serif;
    overflow-x:hidden;

}

a{
    text-decoration:none;
    color:inherit;
    
}

/*CABEÇALHO ===========*/
#div-top-image{
    width:100vw;
    
}
#top-image{
    width:100vw;
}

.active{
    border:1px solid white;
    padding:4px;
    border-radius:3px;
    
}
a:hover{
    border-color:rgba(255, 255, 255, 0.686);
    transition: .5s;
}

nav{
    display:flex;
    text-align:Center;
    
}

nav ul{
   
    display:flex;
    align-items:center;
    justify-content:space-around;

    list-style:none;
    width:100vw;
    height:40px;
    background-color: #6EC9F1;
    

}

nav ul li{
    color:white;
    font-family: 'Source Serif Pro', sans-serif;
    padding:5px;
    font-size:2vw;
    text-align:center;

}


/*PRINCIPAL ======================*/
/*RODAPÉ ========================*/

/*RESPONSIVIDADE ================*/