@import url('https://fonts.googleapis.com/css2? family= Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,600;1,700;1,900 & display=trocar');

/*GERAL ================= */
:root{
    margin:0;
    padding:0;
    box-sizing:border-box; 

}

body{
    margin:0;
    padding:0;
    box-sizing:border-box; 
    font-family: 'Source Serif Pro', sans-serif;

}
.title{
    color:#018DD7;
}
a{
    text-decoration:none;
    color:inherit;
    
}


/*CABEÇALHO ===========*/

header{
    margin:0;
    padding:0;
    box-sizing:border-box; 
}
#div-top-image{
    display:flex;
    overflow-x:hidden;
    width:100vw;

    
}
#top-image{
    display:flex;
    width:100vw;

}

.active{
    border:1px solid white;
    padding:4px;
    border-radius:3px;
    
}
a:hover{
    border-color:rgba(255, 255, 255, 0.686);
    transition: .5s;
}

nav{
    display:flex;
    margin:0;
    padding:0;
    box-sizing:border-box; 
    
}

nav ul{
    display:flex;
    align-items:center;
    text-align:center;
    width:100vw;
    height:70px;

    list-style:none;
    background-color: #018DD7;

    margin:0;
    padding:0;
    box-sizing:border-box; 
}

nav ul li{
    color:white;
    font-family: 'Source Serif Pro', sans-serif;
    padding:5px;
    font-size:2vw;
    text-align:center;
    width:100%;
}

.borda{
    border-right:1px solid rgba(51, 51, 51, 0.623); 
}
/*PRINCIPAL ======================*/

#div-slider{
    width:100%;
    height:90px;
    margin:0 0 30vw 0;
}
#div-slider img{
    width:100%;
}

#div-servicos{
    width:100%;
    
}
#servicos{
    width:100%;
}

#whats-logo{
    bottom:0;
    right:0;
    width:10vw;
    position:fixed;
}

/*RODAPÉ ========================*/
footer{
    background-color: #018DD7;
    color:white;
}
#div-informacoes{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:flex-start;
}

#div-img-redes{
    display:flex;
    justify-content:space-around;
}
#face-logo{
    width:40px;
}
#insta-logo{
    width:40px;
}

#div-copyright{
    display:flex;
    justify-content:center;
    align-items:center;

}
#div-copyright a{
    font-weight:bold;
}
/*RESPONSIVIDADE ================*/